
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Nunito-Regular', arial;
  }
  a:hover{
    color: #ff5f17;
  }
  @font-face {
    font-family: 'GeometricExtraBold';
    src: local('GeometricExtraBold'), url(./assets/URW\ Geometric\ Extra\ Bold\ Oblique.ttf) format('truetype');
  }
}

html[DisableScroll] {
  overflow-y: scroll;
}

html[DisableScroll] body {
  overflow-y: hidden;
  height: 100vh;
}
